@charset "utf-8";
/* CSS Document gratis-golfpolis.nl */

body					{	margin-top: 0px;
							background-color: white;
							font-family: Verdana, Arial, Helvetica, sans-serif;
							font-size: 8pt;
							line-height: 12pt;
						}

.Frame					{	padding: 10px;
							border-left: 1px solid #cccccc;
							border-right: 1px solid #cccccc;
						}

.Footer					{	font-family: Verdana, Arial, Helvetica, sans-serif;
							font-size: 8pt;
							font-weight: bold;
							text-align: center;
							color: #EBBA00;
							padding-bottom: 10px;
							border-bottom: 1px solid #cccccc;
						}
.HoleInOne				{	font-family: Verdana, Arial, Helvetica, sans-serif;
							font-size: 10pt;
							font-weight: bold;
							color: red;
						}
.Tbl_odd				{	padding: 4px;
							border-bottom: 1px dotted #ccc;
						}
.Tbl_even				{	padding: 4px;
							border-bottom: 1px dotted #ccc;
						}